* {
  box-sizing: border-box
}

img {
  width: 100%;
  object-fit: cover;
}

.medium {
  margin: 50px auto; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  grid-gap: 20px;
}

.post {
  grid-row: span 2;
}

.post:first-child {
  grid-row: span 4; 
}

.post__title {
  margin: 0;
}

.post:first-child .post__content .post__image {
  min-height: 280px;
}

/* Start Component styling */

.post__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border: 1px #ddd solid;
}

.post__image {
  height: 100px;
  
}
.post__summary {
  padding: 16px;
}
.post__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.post__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
  width: 100%;
}

.post__author {
  display: flex;
}

.post__author__avatar {
  align-self: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: block;
  margin-right: 8px; 
}
.post__author__name span:first-child {
  display: block;
  font-size: 0.8em;
}
.post__author__name span:nth-child(2) {
  font-size: 0.7em;
}

/* End Component styling */

@media screen and (max-width: 768px) {
  .medium {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
